@model IEnumerable<DemoWebsite.ViewModels.GUIDTestViewModel>

@{
    ViewBag.Title = "List";
}

<h2>List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.guid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.guid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.guid }) |
            @Html.ActionLink("Details", "Details", new { id=item.guid }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.guid })
        </td>
    </tr>
}

</table>
