@model IEnumerable<SampleWebsite.Models.Car>

@{
    ViewBag.Title = "Index";
}

<h2>Cars</h2>


<p>
    @Html.ActionLink("Create New", "Create") | @Html.ActionLink("Go to Users", "Index", "User")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Make)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Model)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Make)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Model)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CarId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CarId })
        </td>
    </tr>
}

</table>
